.ProfileContainer{
    display: flex;
    background-color: whitesmoke;
}

.ProfileRight{
    flex: 9;
}
.ProfileCover{
    height: 320px;
    position: relative;
}

.ProfileCoverImg{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.ProfileImg{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
    right: 0;
    left: 0;
    position: absolute;
    top: 150px;
    border: 2px white solid;
}
.ProfileInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ProfileUsername{
    font-size: 24px;
}
.ProfileDescription{
    font-weight: 400;
}
.ProfileRightBottom{
    display: flex;
}