.rightBar{
    flex: 4;
}
.rightBartitle{
    margin-bottom: 20px;
}
.rightBarWrapper{
    padding: 20px 20px 0 0;
}
.rightBarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.birthdayContainer{
   margin-right: 10px;
   position: relative;
    
}
.birthdayImg{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.birthdayText{
    font-weight: 400;
    font-size: 15px;
}
.rightBarAdd{
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
}
.rightBarFriendsList{
    padding: 0;
    margin: 0;
    list-style: none;
}
.rightBarProfileImgContainer{
    margin-right: 10px;
    position: relative;
}
.rightBarProfileImg{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    object-fit: cover;
}
.rightBarOnline{
    width: 12px;
    height: 12px;
    background-color: limegreen;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    right: 0;
}
.RightBarTitle{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #555;
}
.RightBarFollowingImg{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}
.RightBarFollowings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.RightBarFollowing{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
}
.RightBarInfoItem{
    margin-bottom: 10px;
}
.RightBarInfoKey{
    font-weight: 500;
    margin-right: 15px;
    color: #555;
}
.RightBarInfoValue{
    font-weight: 300;
}
.RightBarInfo{
    margin-bottom: 30px;
}

.rightBarOnlineText{
    font-weight: 400;
}
.rightBarFollowButton{
    margin-top: 30px;
    margin-bottom: 10px;
    border: none;
    background-color: #1872f2;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}
.rightBarFollowButton:focus{
    outline: none;
}
.logOutContainer{
    width: 70%;
}
.updateContainer{
    width: 70%;
    position:relative;
}
.showUpdateButton{
    margin-bottom: 20px;
    margin-top: 10px;
    background-color:rgb(133, 74, 7);
    color: aliceblue;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
}
.inputUsername{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    display: flex;
    border-radius: 5px;
    border: 1px solid gray;
    align-items: center;
    font-size: 15px;
}
.inputUsername:focus{
    outline: none;
}

/* <!-- HTML !-->
<button class="button-24" role="button">Button 24</button> */

/* CSS */

.userLogOutButton {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 500;
}

.userLogOutButton:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.userLogOutButton:active {
    color: #000
}

.userLogOutButton:active:after {
    background: transparent;
}

.userLogOutButton:hover:before {
    opacity: 1;
}

.userLogOutButton:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.pfContainer{
    margin-top: 20px;
}
.changeButton {
    width: 150px;
    height: 30px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
}

.changeButton:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.changeButton:active {
    color: #000
}

.changeButton:active:after {
    background: transparent;
}

.changeButton:hover:before {
    opacity: 1;
}

.changeButton:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.changeText{
    font-size: 20px;
    font-weight: 700;
}